<h1>Editando <%= singular_name %></h1>

<%%= render :partial => 'form', :locals => { :nome_botao => "Atualizar"} %>

<%%= link_to 'Detalhar', <%= singular_name %>_path(@<%= singular_name %>), :class => 'bt_detal' %> |
<%%= link_to 'Voltar', <%= plural_name %>_path, :class => 'bt_back' %>
